@page
@model BookingsModel
@{
    ViewData["Title"] = "Bookings";
}

<h2>Bookings</h2>
<style>
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            .tab button:hover {
                background-color: #ddd;
            }

            .tab button.active {
                background-color: #ccc;
            }

    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Hotels')" id="HotelTab">Hotels</button>
    <button class="tablinks" onclick="openTab(event, 'Tours')" id="TourTab">Tours</button>
    <button class="tablinks" onclick="openTab(event, 'Packages')" id="PackageTab">Packages</button>
</div>
<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
<form id="hotelSearchForm" method="post" asp-page-handler="HotelSearch">
    <div id="Hotels" class="tabcontent">
        <h3>Search Hotels</h3>
        <hr />
        <div class="form-group">
            <label asp-for="HotelSearch.CheckInDate">Select check-in date:</label>
            <input id="hotelCheckInDate" asp-for="HotelSearch.CheckInDate" type="date" class="form-control" value="2024-01-09" />
            <span asp-validation-for="HotelSearch.CheckInDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HotelSearch.CheckInDate">Select check-out date:</label>
            <input id="hotelCheckOutDate" asp-for="HotelSearch.CheckOutDate" type="date" class="form-control" value="2024-01-27" />
            <span asp-validation-for="HotelSearch.CheckOutDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HotelSearch.RoomType">Select room type:</label>
            <select asp-for="HotelSearch.RoomType" asp-items="@Model.HotelSearch.RoomTypes" class="form-control"></select>
            <span asp-validation-for="HotelSearch.RoomType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="hotels">Hotels:</label>
            <select name="hotels" id="hotelsDropdown" onchange='calculateTotalCost("hotelsDropdown", "hotelCheckInDate", "hotelCheckOutDate", "hotelTotalCostMessage")'>
                @foreach (var hotel in Model.HotelSearch.HotelsList)
                {
                    <option value="@hotel.HotelId">@(hotel.Name + " £" + hotel.Cost + " (per night)")</option>
                }
            </select>
            <p id="hotelsDropdownErrorMessage" class="text-danger"></p>
        </div>
        <div class="form-group">
            <input type="submit" name="command" class="btn btn-primary" value="Search" />
        </div>
        <hr />
        <p id="hotelTotalCostMessage">Total Cost: £0</p>
        <div class="form-group">
            <input class="btn btn-primary" name="command" value="Book" onclick="submitHotelSearchForm()" />
        </div>
    </div>
</form>
<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
<form id="tourSearchForm" method="post" asp-page-handler="TourSearch">
    <div id="Tours" class="tabcontent">
        <h3>Search Tours</h3>
        <hr />
        <div class="form-group">
            <label asp-for="TourSearch.TourStartDate">Select Tour Start Date:</label>
            <input id="tourStartDate" asp-for="TourSearch.TourStartDate" type="date" class="form-control" value="2024-01-15" />
            <span asp-validation-for="TourSearch.TourEndDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TourSearch.TourEndDate">Select Tour End Date:</label>
            <input id="tourEndDate"  asp-for="TourSearch.TourEndDate" type="date" class="form-control" value="2024-01-20" />
            <span asp-validation-for="TourSearch.TourEndDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="tours">Tours:</label>
            <select name="tours" id="toursDropdown" onchange='calculateTotalCost("toursDropdown", "tourStartDate", "tourEndDate", "tourTotalCostMessage")'>
                @foreach (var tour in Model.TourSearch.ToursList)
                {
                    <option value="@tour.TourId">@(tour.Name + " £" + tour.Cost)</option>
                }
            </select>
            <p id="toursDropdownErrorMessage" class="text-danger"></p>
        </div>
        <div class="form-group">
            <input type="submit" name="command" class="btn btn-primary" value="Search"/>
        </div>
        <hr />
        <p id="tourTotalCostMessage">Total Cost: £0</p>
        <div class="form-group">
            <input class="btn btn-primary" name="command" value="Book" onclick="submitTourSearchForm()"/>
        </div>
    </div>
</form>
<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
<form id="packageBookForm" method="post" asp-page-handler="PackageBook">
    <div id="Packages" class="tabcontent">
        <h3>Packages</h3>
        @foreach (var item in Model.PackageBook.HotelDiscountsList)
        {
            <input type="hidden" id="@item.RoomType" value="@item.HotelDiscountPercentage" />
        }
        <hr />
        <h4>Search Hotels</h4>
        <hr />
        <div class="form-group">
            <label asp-for="PackageBook.CheckInDate">Select check-in date:</label>
            <input id="packageHotelCheckInDate" asp-for="PackageBook.CheckInDate" type="date" class="form-control" value="2024-01-09" />
            <span asp-validation-for="PackageBook.CheckInDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PackageBook.CheckInDate">Select check-out date:</label>
            <input id="packageHotelCheckOutDate" asp-for="PackageBook.CheckOutDate" type="date" class="form-control" value="2024-01-27" />
            <span asp-validation-for="PackageBook.CheckOutDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PackageBook.RoomType">Select room type:</label>
            <select id="packageHotelRoomTypeDropDown" asp-for="PackageBook.RoomType" asp-items="@Model.PackageBook.RoomTypes" class="form-control" onchange="updateDiscount()"></select>
            <span asp-validation-for="PackageBook.RoomType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="packageHotels">Hotels:</label>
            <select name="packageHotelsDropdown" id="packageHotelsDropdownId" onchange='calculateTotalPackageCost()'>
                @foreach (var hotel in Model.PackageBook.HotelsList)
                {
                    <option value="@hotel.HotelId">@(hotel.Name + " £" + hotel.Cost)</option>
                }
            </select>&nbsp;&nbsp;&nbsp;<label id="packageHotelDiscountLable">Discount :0%</label>
            <p id="packageHotelsDropdownErrorMessage" class="text-danger"></p>
        </div>
        <hr />
        <h4>Search Tours</h4>
        <hr />
        <div class="form-group">
            <label asp-for="PackageBook.TourStartDate">Select Tour Start Date:</label>
            <input id="packageTourStartDate" asp-for="PackageBook.TourStartDate" type="date" class="form-control" value="2024-01-15" />
            <span asp-validation-for="PackageBook.TourEndDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PackageBook.TourEndDate">Select Tour End Date:</label>
            <input id="packageTourEndDate" asp-for="PackageBook.TourEndDate" type="date" class="form-control" value="2024-01-20" />
            <span asp-validation-for="PackageBook.TourEndDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="packageTours">Tours:</label>
            <select name="packageToursDropdown" id="packageToursDropdownId" onchange='calculateTotalPackageCost()'>
                @foreach (var tour in Model.PackageBook.ToursList)
                {
                    <option value="@tour.TourId">@(tour.Name + " £" + tour.Cost)</option>
                }
            </select>
            <p id="packageToursDropdownErrorMessage" class="text-danger"></p>
        </div>
        <hr />
        <div class="form-group">
            <input type="submit" name="command" class="btn btn-primary" value="Search" />
        </div>
        <hr />
        <p id="packageTotalCostMessage">Total Cost: £0</p>
        <div class="form-group">
            <input class="btn btn-primary" name="command" value="Book" onclick="submitPackageBookForm()" />
        </div>
    </div>
</form>
<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    let params = (new URL(document.location)).searchParams;
    let handler = params.get("handler");

    switch (handler) {
        case "HotelSearch":
            document.getElementById("HotelTab").click();
            break;
        case "TourSearch":
            document.getElementById("TourTab").click();
            break;
        case "PackageBook":
            document.getElementById("PackageTab").click();
            break;
        default:
            break;
    }

    function submitHotelSearchForm() {
        var dropdownErrorMessage = document.getElementById("hotelsDropdownErrorMessage");
        dropdownErrorMessage.innerHTML = "";

        var form = document.getElementById("hotelSearchForm");
        var selectBoxValue = form.elements["hotelsDropdown"].value;

        if (!selectBoxValue) {
            dropdownErrorMessage.innerHTML = "Please select a hotel for booking";
            return;
        }

        form.elements["command"].value = "Book";
        form.submit();
    }

    function submitTourSearchForm() {
        var dropdownErrorMessage = document.getElementById("toursDropdownErrorMessage");
        dropdownErrorMessage.innerHTML = "";

        var form = document.getElementById("tourSearchForm");
        var selectBoxValue = form.elements["toursDropdown"].value;

        if (!selectBoxValue) { 
            dropdownErrorMessage.innerHTML = "Please select a tour for booking";
            return;
        }

        form.elements["command"].value = "Book";
        form.submit();
    }

    function submitPackageBookForm() { 
        var hotelsDropdownErrorMessage = document.getElementById("packageHotelsDropdownErrorMessage");
        hotelsDropdownErrorMessage.innerHTML = "";

        var toursDropdownErrorMessage = document.getElementById("packageToursDropdownErrorMessage");
        toursDropdownErrorMessage.innerHTML = "";

        var form = document.getElementById("packageBookForm");

        var hotelsSelectBoxValue = form.elements["packageHotelsDropdown"].value;
        var toursSelectBoxValue = form.elements["packageToursDropdown"].value;

        var errorReturn = false;

        if (!hotelsSelectBoxValue) { 
            hotelsDropdownErrorMessage.innerHTML = "Please select a hotel for booking";
            errorReturn = true;
        }

        if (!toursSelectBoxValue) { 
            toursDropdownErrorMessage.innerHTML = "Please select a tour for booking";
            errorReturn = true;
        }

        if (errorReturn) { 
            return;
        }

        form.elements["command"].value = "Book";
        form.submit();
    }

    function calculateTotal(dropdown, fromDate, toDate) {
        var selectedDropdown = document.getElementById(dropdown);
        var selectedOption = selectedDropdown.options[selectedDropdown.selectedIndex];
        var cost = selectedOption.textContent.split(' £')[1].split(' ')[0];

        var startDate = new Date(document.getElementById(fromDate).value);
        var endDate = new Date(document.getElementById(toDate).value);

        var durationInDays = Math.ceil((endDate - startDate) / (1000 * 60 * 60 * 24));

        return parseFloat((cost * durationInDays).toFixed(2));
    }

    function calculateTotalCost(dropdown, fromDate, toDate, totalCostMessageId) {
        document.getElementById(totalCostMessageId).innerHTML = "Total Cost: £" + calculateTotal(dropdown, fromDate, toDate);
    }

    function calculateTotalPackageCost() { 
        var packageHotelCost = calculateTotal("packageHotelsDropdownId", "packageHotelCheckInDate", "packageHotelCheckOutDate");
        var packageTourCost = calculateTotal("packageToursDropdownId", "packageTourStartDate", "packageTourEndDate");
        var discount = findDicount();
        console.log("Discount " + discount);
        console.log("packageHotelCost " + packageHotelCost);
        console.log("packageTourCost " + packageTourCost);
        var packageTotalCost = packageHotelCost + packageTourCost;
        console.log("packageTotalCost " + packageTotalCost);
        var discountAmount = (discount / 100) * packageTotalCost;
        console.log("discountAmount " + discountAmount);
        var discountedTotalCost = packageTotalCost - discountAmount;
        console.log("discountedTotalCost " + discountedTotalCost);
   
        document.getElementById("packageTotalCostMessage").innerHTML = "Total Cost: £" + discountedTotalCost;
    }

    window.addEventListener('load', function () {
        if (document.getElementById("HotelTab").className == "tablinks active") {
            calculateTotalCost("hotelsDropdown", "hotelCheckInDate", "hotelCheckOutDate", "hotelTotalCostMessage");
        }
        else if (document.getElementById("TourTab").className == "tablinks active") {
            calculateTotalCost("toursDropdown", "tourStartDate", "tourEndDate", "tourTotalCostMessage");
        }
        else if (document.getElementById("PackageTab").className == "tablinks active") {
            updateDiscount();
            calculateTotalPackageCost();
        } 
    });

    function findDicount() {
        var discount = 0
        var singleDiscount = document.getElementById("Single").value
        var doubleDiscount = document.getElementById("Double").value
        var familySuiteDiscount = document.getElementById("Family Suite").value

        var packageHotelRoomTypeSelected = document.getElementById("packageHotelRoomTypeDropDown")
        var selectedRoomType = packageHotelRoomTypeSelected.options[packageHotelRoomTypeSelected.selectedIndex].textContent

        switch (selectedRoomType) {
            case "Single":
                discount = singleDiscount;
                break;
            case "Double":
                discount = doubleDiscount;
                break;
            case "Family Suite":
                discount = familySuiteDiscount;
                break;
            default:
                break;
        }
        return discount;
    }

    function updateDiscount() {
        var discount = findDicount();
 
        document.getElementById("packageHotelDiscountLable").innerHTML = "Discount :" + discount + "%";
                
    }
</script>
