@page
@model BookingsModel
@{
    ViewData["Title"] = "Bookings";
}

<h2>Bookings</h2>
<style>
    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Hotels')" id="HotelTab">Hotels</button>
    <button class="tablinks" onclick="openTab(event, 'Tours')" id="TourTab">Tours</button>
    <button class="tablinks" onclick="openTab(event, 'Packages')" id="PackageTab">Packages</button>
</div>
<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
<form id="hotelSearchForm" method="post" asp-page-handler="HotelSearch">
    <div id="Hotels" class="tabcontent">
        <h3>Search Hotels</h3>
        <hr />
        <div class="form-group">
            <label asp-for="HotelSearch.CheckInDate">Select check-in date:</label>
            <input asp-for="HotelSearch.CheckInDate" type="date" class="form-control" />
            <span asp-validation-for="HotelSearch.CheckInDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HotelSearch.CheckInDate">Select check-out date:</label>
            <input asp-for="HotelSearch.CheckOutDate" type="date" class="form-control" />
            <span asp-validation-for="HotelSearch.CheckOutDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HotelSearch.RoomType">Select room type:</label>
            <select asp-for="HotelSearch.RoomType" asp-items="@Model.HotelSearch.RoomTypes" class="form-control"></select>
            <span asp-validation-for="HotelSearch.RoomType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="hotels">Hotels:</label>
            <select name="hotels" id="hotelsDropdown">
                @foreach (var hotel in Model.HotelSearch.HotelsList)
                {
                    <option value="@hotel.HotelId">@hotel.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" name="command" class="btn btn-primary" value="Search" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" name="command" value="Book" />
        </div>
    </div>
</form>
<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
<form id="tourSearchForm" method="post" asp-page-handler="TourSearch">
    <div id="Tours" class="tabcontent">
        <h3>Search Tours</h3>
        <hr />
        <div class="form-group">
            <label asp-for="TourSearch.TourStartDate">Select Tour Start Date:</label>
            <input asp-for="TourSearch.TourStartDate" type="date" class="form-control" />
            <span asp-validation-for="TourSearch.TourEndDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TourSearch.TourEndDate">Select Tour End Date:</label>
            <input asp-for="TourSearch.TourEndDate" type="date" class="form-control" />
            <span asp-validation-for="TourSearch.TourEndDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="tours">Tours:</label>
            <select id="tours">
                @foreach (var tour in Model.TourSearch.AvailableTours)
                {
                    <option value="@tour">@tour</option>
                }
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Book Tour</button>
        </div>
    </div>
</form>
<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
<form id="packageBookForm" method="post" asp-page-handler="PackageBook">
    <div id="Packages" class="tabcontent">
        <h3>Packages</h3>
        <hr />
        <h4>Search Hotels</h4>
        <hr />
        <div class="form-group">
            <label asp-for="PackageBook.CheckInDate">Select check-in date:</label>
            <input asp-for="PackageBook.CheckInDate" type="date" class="form-control" />
            <span asp-validation-for="PackageBook.CheckInDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PackageBook.CheckInDate">Select check-out date:</label>
            <input asp-for="PackageBook.CheckOutDate" type="date" class="form-control" />
            <span asp-validation-for="PackageBook.CheckOutDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PackageBook.RoomType">Select room type:</label>
            <select asp-for="PackageBook.RoomType" asp-items="@Model.PackageBook.RoomTypes" class="form-control"></select>
            <span asp-validation-for="PackageBook.RoomType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="packageHotels">Hotels:</label>
            <select id="packageHotels">
                @foreach (var hotel in Model.PackageBook.AvailableHotels)
                {
                    <option value="@hotel">@hotel</option>
                }
            </select>
        </div>
        <hr />
        <h4>Search Tours</h4>
        <hr />
        <div class="form-group">
            <label asp-for="PackageBook.TourStartDate">Select Tour Start Date:</label>
            <input asp-for="PackageBook.TourStartDate" type="date" class="form-control" />
            <span asp-validation-for="PackageBook.TourEndDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PackageBook.TourEndDate">Select Tour End Date:</label>
            <input asp-for="PackageBook.TourEndDate" type="date" class="form-control" />
            <span asp-validation-for="PackageBook.TourEndDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="packageTours">Tours:</label>
            <select id="packageTours">
                @foreach (var tour in Model.PackageBook.AvailableTours)
                {
                    <option value="@tour">@tour</option>
                }
            </select>
        </div>
        <hr />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Book</button>
        </div>
    </div>
</form>
<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    let params = (new URL(document.location)).searchParams;
    let handler = params.get("handler");

    switch (handler) {
        case "HotelSearch":
            document.getElementById("HotelTab").click();
            break;
        case "TourSearch":
            document.getElementById("TourTab").click();
            break;
        case "PackageBook":
            document.getElementById("PackageTab").click();
            break;
        default:
            break;
    }
</script>
